[Unit]
Description=Deno Chat Server
After=network.target

[Service]
ExecStart=/home/ubuntu/.deno/bin/deno run --allow-net --allow-env /home/ubuntu/chat-server/server.ts
WorkingDirectory=/home/ubuntu/chat-server
Environment="PORT=8000"
Environment="DATABASE_URL=db_connection_stringr>
Restart=always
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
